.pdf-viewer {
  width: 680px;
  height: 720px;
  background: rgb(82, 86, 89);
  position: relative;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

.pdf-viewer-header {
  background: #2c2f32;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf-viewer-header .title {
  font-size: 20px;
}

.pdf-viewer-header .nav input {
  background: inherit;
  border: none;
  width: 23px;
  height: 23px;
  text-align: center;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.pdf-viewer-header .nav input:focus {
  background: rgb(22, 23, 25);
}

.pdf-viewer-action-btns {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  right: 10px;
  width: 100px;
  padding-bottom: 20px;
  bottom: 0;
  align-items: flex-end;
  overflow: hidden;
}
.pdf-viewer-action-btns > .MuiButtonBase-root.MuiFab-root {
  background: rgb(240, 240, 240);
  width: 40px;
  height: 40px;
  position: relative;
  transition: 1s;
  right: -100px;
}
.pdf-viewer-action-btns > .MuiButtonBase-root.MuiFab-root:not(:last-of-type) {
  margin-bottom: 8px;
}
.pdf-viewer-action-btns > .MuiButtonBase-root.MuiFab-root.btn-list {
  margin-bottom: 20px;
}
.pdf-viewer-action-btns:hover > .MuiButtonBase-root.MuiFab-root {
  transition: 1s;
  right: 5px;
}

.pdf-viewer-page-list > div {
  position: relative;
  margin-top: 60px;
}

.pdf-viewer-thumbnail {
  position: absolute !important;
  right: 0;
  top: 0;
  padding-top: 50px;
}
