.App {
  background: #f7f8f9;
  height: 100vh;
  display: flex;
  align-items: center;
}

.App > .esign-dragable {
  margin-left: 20px;
}

.App .pdf-viewer-container {
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}
