.App {
  background: #f7f8f9;
  height: 100vh;
  display: flex;
  align-items: center;
}

.App > .dragable-container {
  height: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.App .pdf-viewer-container {
  margin-right: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
